@charset "UTF-8";

html {
	max-width: 3840px;
	background-color: #2f2f2f;
	overflow: hidden;
}


body {
	max-width: 3840px;
	background-color: #2f2f2f;
	color: white;
}

.centralComponent {
	display: block;
	margin: auto;
}

h2, h1 {
	text-align: center;
}

a:link {
  color: hsla(150, 100%, 50%, 0.5);
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: hsla(150, 100%, 50%, 0.5);
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #C3073F;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: #f0544c;
  background-color: transparent;
  text-decoration: underline;
}

input[type=text] {
	width: 60%;
	height: 3vh;
	border: 2px solid hsla(150, 100%, 50%, 0.5);
	background-color: inherit;
	color: white;
	outline: none;
	font-family: Garmond;
	font-size: 1vw;
	caret-color: hsla(150, 100%, 50%, 0.5);
	text-align: center;
}

input[type=text]:focus {
	border-color: #C3073F;
}

input[type=text]:hover {
	border-color: #C3073F;
}

input[type=file] {
	text-align: center;
}

input[type=button] {
	background-color: hsla(150, 100%, 50%, 0.5);
	border: 4px solid hsla(150, 100%, 50%, 0.0);
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	outline: none; /* Remove on-click outline */
	color: black;
	font-size: 0.75vw;
}

input[type=button]:focus {
	border: 4px solid #C3073F;
}

input[type=button]:hover {
	border: 4px solid #C3073F;
}

input[type=button]:active {
	background-color: #C3073F;
}

.navButtonText {
	font-size: 0.75vw;
}

textarea {
	background-color: #2f2f2f;
	width: 100%;
	resize: none;
	border: 2px solid hsla(150, 100%, 50%, 0.5);
	font-size: 200%;
	color: #FFFFFF;
	caret-color: hsla(150, 100%, 50%, 0.5);
}

textarea:focus {
	border: 2px solid #C3073F;
	outline: none;
}

.filterFieldLabel {
	display: none;
	opacity: 0;
}

.filterField {
	text-align: center;
	display: none;
	opacity: 0;
	margin-bottom: 10px;
}

hr {
	border: 2px solid hsla(150, 100%, 50%, 0.5);
}



th, tr {
	text-align: center;
	padding-bottom: 10px;
	width: 16%;
}

.tableSeparator {
	color: black;
}

th, td, h3  {
	font-size: 0.8vw;
}

.headerWord {
	cursor: pointer;
	font-size: 1vw;
}

.colourTableElement{
	background-color: hsla(150, 100%, 50%, 0.5);
	color: black;
}

li {
	cursor: pointer;
	padding-bottom: 5px;
	outline: none;
}

.wordFormsData {
	cursor: auto;
}

#myInput {
	width: 100%; /* Full-width */
	font-size: 16px; /* Increase font-size */
	padding: 12px 0px 12px 0px; /* Add some padding */
	margin-bottom: 12px; /* Add some space below the input */
	background-color: inherit;
	color: white;
	font-size: 130%;
	border: 2px solid hsla(150, 100%, 50%, 0.5);
	text-align: center;
}

ul {
	/* Remove default list styling */
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.wordListContainer li .wordEntry {
	margin-top: -1px; /* Prevent double borders */
	background-color: hsla(150, 100%, 50%, 0.5); /* Word Container */
	padding: 12px; /* Add some padding */
	text-decoration: none; /* Remove default text underline */
	font-size: 18px; /* Increase the font-size */
	color: black; /* Add a black text color */
	display: block; /* Make it into a block element to fill the whole list */
	text-align: center;
}

/* Allows scrolling a word's table data if the screen width gets too small  */
.tabContent, .wordEntry {
	overflow: auto;
}


#settingsTabContent {	
	overflow-y: auto;
}


.wordListContainer #wordList li div:hover:not(.tab):not(.wordFormsData):not(.tabContent) {
	background-color: #C3073F;
}

li:hover .headerWord {
	background-color: #C3073F;
}

.wordListContainer li:hover .wordEntry {
	background-color: #C3073F;
}

/* Below two sections keep selected word entry highlighted until another is chosen */
/* Used for keyboard navigation */

li:focus .headerWord {
	background-color: #C3073F;
}

.wordListContainer li:focus .wordEntry {
	background-color: #C3073F;
}


.wordFormsData {
	display: none;
	background-color: #2f2f2f; /*Table background colour */
	color: white;
}


/* Style the tab */
.navTab {
  overflow: hidden;
  border: 2px solid hsla(150, 100%, 50%, 0.5);
  background-color: inherit;
}

/* Style the buttons inside the tab */
.navTab button {
  background-color: #4E4E50;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  width: 25%;
}


/* Change background color of buttons on hover */
.navTab button:hover {
  background-color: #C3073F;
}

/* Change background color of buttons on focus */
.navTab button:focus {
  background-color: #C3073F;
}

/* Create an active/current tablink class */ 
.navTab button.active {
  background-color: #f0544c;
}  

/* Style the tab content */
.navTabcontent {
  display: none;
  padding: 6px 12px;
  border: 2px solid hsla(150, 100%, 50%, 0.5);
  border-top: none;
  outline: none;
  overflow: auto;
  height: 200%; 
}


.leftContainer {
	float: left;
	width: 49.5%;
	/*height: 100%;*/
}

.rightContainer {
	float: right;
	width: 49.5%;
	/*height: 100%; */
}

.centralDiv {
	min-width: 100%;
	max-width: 100%;
	text-align: center;
}

.descriptionDiv {
	min-width: 45%;
	max-width: 45%;
	padding-right: 3%;
	display: inline-block;
	text-align: left;
	font-size: 0.75vw;
	vertical-align: top;
}

.text {
	font-size: 0.75vw;
}


.wordChoice {
	font-size: 0.75vw;
}

#hotkeysTable {
	border: 2px solid hsla(150, 100%, 50%, 0.5);;
}

.buttonDiv {
	text-align: center;
}

.underline {
	text-decoration: underline;
	text-decoration-color:  hsla(150, 100%, 50%, 0.5);
}

.descriptionContainer{
	text-align: center;
}

#accessibilityDiv{
	text-align: center;
}

ul.descriptions {
  list-style-type: square;
   list-style-position: inside;
}

/* Transition the tab down to the bottom of the page */
.navTabcontent{
  height: 0px;
  -webkit-transition: height 1.5s ease;
  -moz-transition: height 1.5s ease;
  -o-transition: height 1.5s ease;
  transition: height 1.5s ease;
}

.fade-in {
animation: fadeIn ease 2s;
-webkit-animation: fadeIn ease 2s;
-moz-animation: fadeIn ease 2s;
-o-animation: fadeIn ease 2s;
-ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

.fade-out {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

/* Style the tab */
.tab {
	overflow: hidden;
	border: 2px solid black;
}

/* Style the buttons inside the tab */
.tab button {
	background-color: #4E4E50;
	color: white;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 130%;
	float: left;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #C3073F;
}

/* Create an active/current tablink class */ 
.tab button.active {
	background-color: #f0544c;
}

.tableSeparator {
	background-color: hsla(150, 100%, 50%, 0.5);
	border: 2px solid black;
}

/* Style the tab content */
.tabContent {
	display: none;
	padding: 6px 12px;
	border: 2px solid black;
	border-top: none;
}

.disable-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.infoDiv {
	text-align: center;
	border: 2px solid hsla(150, 100%, 50%, 0.5);
	height: 0%;
	width: 100%;
	display: none;
	opacity: 0;
	overflow-y: auto;
	scrollbar-color: #C3073F hsla(150, 100%, 50%, 0.5);
	justify-content: space-between;
	align-items: flex-start;
	outline: none;
}

#dictionaryInfoDiv {
	display: flex;
	opacity: 1;
	min-height: none;
/*	max-height: 15vh; */
	width: 100%;
}


.infoDivText {
	font-size: 2vh;
	color: white;
	height: 4vh;
	min-width: 100%;
}

.cookieWarning {
	text-align: center;	
	font-size: 0.7vw;
}

.optionsButton {
	margin-bottom: 5px;
	width: 33%;
}

.goButton {
	margin-bottom: 5px;
	width: 25%;
	margin-right: 5vw;
}

.uploadButton:focus {
	outline: 2px solid #C3073F;
	outline-offset: 5px;
}

iframe {
  height: 100%;
  width: 100%;
  border: none;
}

#iframeContainer {
	height: 100%;
	width: 30%;
	max-width: 100%;
	max-height: 100%;
/*	resize: both; */
	overflow: hidden;
	display: none;
	opacity: 0;
	border: 2px solid hsla(150, 100%, 50%, 0.5);
}

#localVideoContent{
	display: none;
	outline: 0;
}

.optionsDiv {
	display: none;
	opacity: 0;
	text-align: center;
}

.visibleOptionsDiv {
	text-align: center;
}

#localVideoEnSubsUpload {
	margin-bottom: 50px;
}

video {
	outline: 0;
}


.tablinks {
	line-height: 1.5;
}

.tablinks:focus {
	background-color: #C3073F;
}


table {
	width: 100%;
}

.wordListContainer {
	/* border: 2px solid hsla(150, 100%, 50%, 0.5); For debugging visibility */
	height: 0px;
	overflow-y: auto;
	outline: none;
	-webkit-transition: height 2s ease;
	-moz-transition: height 2s ease;
	-o-transition: height 2s ease;
	transition: height 2s ease;
	/* scrollbar-color: yellow blue; */
}


/* Scrollbar for Firefox */
.scroller {
	scrollbar-color: #C3073F hsla(150, 100%, 50%, 0.5);
	
}

/*////////////////////////Scroll Bar for others ////////////////////////////*/
.scroller::-webkit-scrollbar {
	width: 12px;
}

.scroller::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px hsla(150, 100%, 50%, 0.5);
	box-shadow: inset 0 0 6px hsla(150, 100%, 50%, 0.5);
	background-color: hsla(150, 100%, 50%, 0.5);
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.scroller::-webkit-scrollbar-corner {
	background: rgba(0, 0, 0, 0);
}

.scroller::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: rgba(255, 0, 0, 0.8);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/*///////////////////////////////////////////////////////////////////////*/


/****************************************************/

	
@media (orientation: portrait) {
	
  input[type=text] {
	font-size: 2vw;
  }
  
  input[type=button] {
	font-size: 1.2vw;
  }
  
  .navButtonText {
	font-size: 1.5vw;
  } 
  
  .infoDivText {
	font-size: 2vw;
  }
  
  .text {
	font-size: 1.5vw;
  }
  
  .descriptionDiv {
	font-size: 0.75vh;
  }
  
  .headerWord {
    font-size: 2vw;
  }
  
  th, td  {
	font-size: 1.5vw;
  }
  
  h3 {
  	font-size: 1.5vh;
  }
  
  .wordChoice {
	font-size: 1.5vw;
  }
  
  .cookieWarning {
	font-size: 0.75vh;
  }

  .descriptions {
	font-size: 0.75vh;
  }
  
  
}

/* No Keyboard */
@media (hover: none) {
	#accessibilityDiv {
		display: none;
	}
}


@media only screen and (max-width: 900px) {
	
 
  .navTablinks {
	line-height: 0.75vh;
  }
  
  .navButtonText {
    height: 1vh;
    
  }
	
  input[type=text] {
	font-size: 1vw;
  }
  
  input[type=button] {
	font-size: 0.68vw;
  }
  
    
  .optionsButton {
    width: 30%;
  }

		
  .navTabcontent {
  	height: 200vh;
  }
  
  
  .tableSeparator {
	font-size: 85%;
  }
  
   .headerWord {
	font-size: 100%;
  }
  
  th {
  	font-size: 0.75vw;
  }
  
  td {
	font-size: 1vw;
  }
  
  .tableSeparator {
  	/* height: 1vh; */
  	font-size: 1.3vh;
  }

  .descriptionDiv {
	font-size: 2.5vw;
  }
  
  .text {
    font-size: 2.5vh
  }
  
  h3 {
  	font-size: 1.5vw;
  }
  
  .descriptions {
  	font-size: 2vh;
  }
  
  .tablinks {
	line-height: 0.75vw;
  }
  
  .filterFieldLabel {
    font-size: 1vw;
  }
  
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 1vw;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-size: 1vw;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-size: 1vw;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-size: 1vw;
  }
	
}


@media only screen and (max-width: 1200px) {
	
  input[type=text] {
	font-size: 2vw;
  }
  
  input[type=button] {
	font-size: 1.2vw;
  } 
  
  .navButtonText {
	font-size: 1.5vw;
  }
  
  .optionsButton {
    width: 30%;
  }
  
  html {
  	height: 200vh;
  	overflow-y: auto;
  }


  body {
     height: 250vh;
     overflow-y: auto;
     
  }
   
  .navTabcontent {
  	height: 200vh;
  	overflow-y: auto;
  	
  }
  
  .filterFieldLabel {
  	font-size: 2vh;
  }
 
  
  .tableSeparator {
	font-size: 85%;
  }
  
   .headerWord {
	font-size: 100%;
  }
  
  th, td {
	font-size: 1.5vw;
  }
  
  h3 {
  	font-size: 3vh;
  }

  .descriptionDiv {
	font-size: 2vh;
  }
  
  .descriptions {
  	font-size: 2vh;
  }
  
  .text {
    font-size: 2.5vh
  }
  
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 1vh;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-size: 1vh;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-size: 1vh;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-size: 1vh;
  }
  
  
   
}






